div.box {
    margin: 2% 10%;
    background: white;
    border: #eee solid 3px;
    border-bottom: #eee solid 3px;
}

div.question {
    border-bottom: #eee solid 3px;
    margin: 0;
}

div.options {
    border-bottom: #eee solid 3px;
    margin: 0;
    padding: 5px 0px;
}

div.options:hover,
div.options:focus,
div.options:active {
    background-color: #eee;
}